
<div class="container">
  <div class="row py-4 g-4">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <% if @order.product.images.attached? %>
        <%= cl_image_tag @order.product.images.first.key, class: "img-fluid rounded shadow-sm" %>
      <% end %>
    </div>

    <div class="col-md-8">
      <h1>Resumo do Pedido</h1>
      <p>Compra de produto <strong><%= @order.product.title %></strong> por <strong><%= humanized_money_with_symbol @order.amount %></strong> no tamanho de <strong><%= @order.size %></strong></p>

      <button id="pay" class="btn-go-to-checkout">Finalizar a compra</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
