
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-center w-100 m-3">

    <a class="navbar-brand" href="/">Meu Marketplace</a>

    <div class="mx-auto" style="max-width: 500px; width: 100%;">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar produtos" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>

    <ul class="navbar-nav d-flex flex-row gap-3 ms-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to orders_path, class: "nav-link text-white" do %>
            Olá, <%= current_user.email %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to "Adicionar Produto", new_product_path, class: "nav-link btn-add-product" %>
        </li>
        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: "nav-link text-white" do %>
          <i class="bi bi-person fs-4"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link text-white" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Criar Conta", new_user_registration_path, class: "nav-link text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row w-100 justify-content-between overflow-auto">
      <% Category.all.each do |category| %>
        <li class="container nav-item text-center">
          <%= link_to products_by_category_path(category), class: "nav-link text-white px-2" do %>
            <%= category.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="add-new-product">Adicione um novo produto</h1>

  <%= simple_form_for @product do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :sku %>
    <%= f.input :price %>
    <%= f.input :category_id, collection: @categories, prompt: "Selecione uma categoria" %>
    <%= f.input :size,
                as: :check_boxes,
                collection: Product::SIZES,
                label: "Tamanhos disponíveis" %>
    <%= f.input :images, as: :file, input_html: { multiple: true, direct_upload: true, accept: "image/*" }, label: "Imagens do Produto" %>

    <%= f.button :submit, "Criar Produto", class: "btn-create-product" %>
  <% end %>
</div>
