
<div class="container product-show">
  <div class="product-image-container">
    <div class="card h-100">
      <div id="carouselExampleRide-<%= @product.id %>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @product.images.each_with_index do |image, i| %>
            <div class="carousel-item <%= 'active' if i.zero? %>">
              <%= cl_image_tag image.key, class: "d-block w-100", alt: @product.title, transformation: { width: 600, height: 400, crop: :limit } %>
            </div>
          <% end %>
        </div>

        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleRide-<%= @product.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleRide-<%= @product.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>
    </div>
  </div>

  <div class="product-details-container ms-4 flex-grow-1">
    <h1><%= @product.title %></h1>

    <div class="accordion" id="productAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
            Descrição
          </button>
        </h2>
        <div id="collapseDescription" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#productAccordion">
          <div class="accordion-body">
            <%= @product.description %>
          </div>
        </div>
      </div>
    </div>

    <p>
      <div class="product-price"><%= humanized_money_with_symbol(@product.price) %></div>
    </p>

    <%= form_with url: orders_path, method: :post, local: true, class: "mb-4" do |f| %>
      <%= hidden_field_tag "order[product_id]", @product.id %>

      <p>Tamanhos disponíveis: </p>
      <div class="d-flex flex-wrap gap-2 mb-4">
        <% sizes = Array(@product.size).reject(&:blank?) %>
        <% if sizes.count == 1 %>
          <% t = sizes.first %>
          <% rid = "p#{@product.id}-size-0" %>
          <input type="radio"
                  class="btn-check"
                  name="order[size]"
                  id="<%= rid %>"
                  value="<%= t %>"
                  autocomplete="off"
                  required
                  checked>
          <label class="btn btn-outline-dark btn-sm" for="<%= rid %>"><%= t %></label>
        <% else %>
          <% sizes.each_with_index do |t, i| %>
            <% rid = "p#{@product.id}-size-#{i}" %>
            <input type="radio"
                  class="btn-check"
                  name="order[size]"
                  id="<%= rid %>"
                  value="<%= t %>"
                  autocomplete="off"
                  required>
            <label class="btn btn-outline-dark btn-sm" for="<%= rid %>"><%= t %></label>
          <% end %>
        <% end %>
      </div>

    <% if @product.user == current_user %>
      <%= link_to 'Editar', edit_product_path(@product), class: 'btn-edit' %>

      <button type="button" class="btn-delete" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
        Deletar
      </button>

      <%= link_to 'Retornar para produtos', products_path, class: 'btn-return-to-products' %>
    <% else %>
      <%= f.submit 'Comprar', class: 'btn-buy-product' %>
      <%= link_to 'Retornar para produtos', products_path, class: 'btn-return-to-products' %>
    <% end %>
    <% end %>

    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmação de exclusão</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Tem certeza que deseja deletar este produto? Esta ação não pode ser desfeita.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <%= link_to 'Deletar', product_path(@product), data: { turbo_method: :delete }, class: 'btn-delete' %>
          </div>
        </div>
      </div>
    </div>

    <p class="product-last-details">
      <%= "Category #{@product.category.title}" %>
    </p>
    <p class="product-last-details">
      <%= "SKU: #{@product.sku}" %>
    </p>
    <p class="product-last-details">
      <%= "Created at: #{@product.created_at.strftime("%B %d, %Y")}"%>
    </p>
    <p class="product-last-details">
      <%= "Updated at: #{@product.updated_at.strftime("%B %d, %Y")}" %>
    </p>
  </div>
</div>
